@import url("https://fonts.googleapis.com/css?family=Muli:400,700,800|Open+Sans|Oranienbaum|Poppins:400,500,600|Trocchi");
.card-img-1 {
  display: flex;
  flex-direction: column;
  font-family: "Muli", sans-serif;
  cursor: pointer; }
  .card-img-1 img {
    max-width: 100%;
    max-height: 100%; }
  .card-img-1 div:last-child {
    border: 0.5px solid #f5f5f5;
    box-shadow: 0px 1px 2px #f5f5f5;
    margin-top: -5px;
    text-align: center; }
    .card-img-1 div:last-child h4 {
      margin-bottom: 8px;
      font-weight: 800; }
    .card-img-1 div:last-child p {
      margin-top: 0;
      margin-bottom: 22px;
      color: #888888; }

.card-img-2 {
  display: flex;
  flex-direction: column;
  font-family: "Muli", sans-serif;
  cursor: pointer; }
  .card-img-2 img {
    max-width: 100%;
    max-height: 100%; }
  .card-img-2 p:first-of-type {
    line-height: 25px;
    font-size: 14px;
    color: #888888; }
  .card-img-2 p:first-child {
    font-weight: 400;
    color: #888888; }
  .card-img-2 div {
    background-color: #FFFFFF;
    padding: 30px 30px 20px 30px; }
    .card-img-2 div h4 {
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 800; }
    .card-img-2 div div {
      border-top: 0.5px solid #f5f5f5;
      display: flex;
      align-items: flex-start;
      padding: 16px 0 0 0; }
      .card-img-2 div div p:first-of-type {
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: 400; }
      .card-img-2 div div img {
        height: 22px;
        width: 22px;
        align-self: center; }

.card-img-3 {
  display: flex;
  flex-direction: column;
  font-family: "Muli", sans-serif;
  cursor: pointer;
  text-align: center;
  position: relative; }
  .card-img-3 img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    overflow: hidden;
    display: block; }
  .card-img-3 h4 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 800; }
  .card-img-3 p {
    margin-top: 5px;
    font-size: 14px;
    color: #888888; }
  .card-img-3 strike {
    font-size: 10px;
    color: #d6d6d6; }
  .card-img-3 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 262px;
    width: 100%;
    transition: all .5s ease;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    overflow: hidden;
    color: #FFFFFF; }
    .card-img-3 .overlay button {
      margin-top: 120px;
      cursor: pointer;
      background-color: #465cff;
      color: #FFFFFF;
      display: none; }
  .card-img-3:hover .overlay {
    background-color: rgba(0, 0, 0, 0.7); }
  .card-img-3:hover .overlay button {
    display: inline-block; }

.index-section-5-cards, .blog-grig-section-1-cards {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px; }
  .index-section-5-cards .card-img-1, .blog-grig-section-1-cards .card-img-1 {
    max-width: 300px;
    margin: 10px; }

.blog-grig-section-1-cards .card-img-2 {
  max-width: 300px;
  margin: 10px; }

.shop-section-1-cards {
  max-width: 100%;
  margin: 0 auto 40px auto;
  display: flex;
  flex-wrap: wrap; }
  .shop-section-1-cards .card-img-3 {
    max-width: 260px;
    margin: 24px; }

.pre-footer {
  background-color: #1a1d1f;
  color: #888888;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  padding: 70px 40px 90px 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  .pre-footer .pre-footer-description {
    width: 18.3333333333%;
    margin: 0 10px; }
    .pre-footer .pre-footer-description img {
      width: 30px;
      margin-bottom: 20px; }
    .pre-footer .pre-footer-description p {
      margin-top: 0;
      line-height: 22px; }
  .pre-footer .pre-footer-posts {
    width: 18.3333333333%;
    margin: 0 10px;
    font-size: 14px; }
    .pre-footer .pre-footer-posts > p {
      margin-top: 0;
      margin-bottom: 40px;
      color: #FFFFFF; }
    .pre-footer .pre-footer-posts a {
      text-decoration: none; }
    .pre-footer .pre-footer-posts a p {
      margin-bottom: 0; }
    .pre-footer .pre-footer-posts hr {
      color: #888888; }
    .pre-footer .pre-footer-posts div p:nth-of-type(1) {
      color: #FFFFFF; }
    .pre-footer .pre-footer-posts div p:nth-of-type(2) {
      color: #888888;
      margin-top: 8px;
      font-size: 12px; }
  .pre-footer .pre-footer-links {
    width: 18.3333333333%;
    margin: 0 10px; }
    .pre-footer .pre-footer-links p:nth-child(1) {
      margin-top: 0;
      margin-bottom: 40px;
      color: #FFFFFF;
      font-size: 14px; }
    .pre-footer .pre-footer-links a {
      display: block;
      text-decoration: none;
      margin-bottom: 16px;
      color: #888888; }
  .pre-footer .pre-footer-contact {
    width: 18.3333333333%;
    margin: 0 10px; }
    .pre-footer .pre-footer-contact p:nth-child(1) {
      margin-top: 0;
      margin-bottom: 40px;
      color: #FFFFFF;
      font-size: 14px; }
    .pre-footer .pre-footer-contact p:nth-child(2) {
      color: #FFFFFF;
      margin-bottom: 18px; }
    .pre-footer .pre-footer-contact p:nth-child(4) {
      color: #FFFFFF;
      margin-bottom: 18px;
      margin-top: 25px; }
    .pre-footer .pre-footer-contact p:nth-child(5) {
      margin-bottom: 18px; }

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #131516;
  color: #888888;
  font-family: "Muli", sans-serif;
  padding: 10px 70px; }
  .footer a {
    color: #888888; }
  .footer a[href="http://themeple.co/"], .footer a[href="https://wordpress.com/"] {
    color: #FFFFFF;
    text-decoration: none; }
  .footer p {
    font-size: 14px; }
  .footer ul {
    padding-left: 0; }
    .footer ul li {
      display: inline-block;
      margin-right: 30px; }

.section-title p {
  font-size: 20px;
  font-family: "Muli", sans-serif;
  color: #888888;
  margin-bottom: 0; }
.section-title h3 {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  margin-bottom: 22px; }
.section-title hr {
  height: 3px;
  color: #465cff;
  background-color: #465cff;
  border: none;
  margin-bottom: 35px; }

.section-title-center {
  text-align: center; }
  .section-title-center hr {
    width: 90px; }

.section-title-left {
  text-align: left; }
  .section-title-left hr {
    width: 45px;
    margin-right: 0;
    margin-left: 0; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
  margin: 0 auto;
  width: 960px; }

.navbar :visited {
  text-decoration: none; }

.navbar img {
  height: auto;
  width: 120px; }

.navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 60%;
  text-align: center;
  padding: 0; }

.navbar ul ul {
  display: none;
  width: 102px;
  float: none; }

.navbar ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center; }

.navbar ul li:hover > ul {
  display: flex;
  flex-direction: column;
  width: 102px; }

.navbar ul ul li {
  width: 102px;
  float: left;
  display: list-item;
  position: relative;
  background-color: red; }

.navbar a {
  text-decoration: none;
  color: black; }

.top-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: solid #e1e1e1 1px;
  margin: 0 auto; }

.top-contact div {
  border: solid #e1e1e1 1px; }

.top-contact div:nth-of-type(1) {
  width: 12.5%;
  border-left: solid #e1e1e1 2px; }

.top-contact div:nth-of-type(2) {
  width: 50%; }

.top-contact div:nth-of-type(3) {
  width: 25%; }

body {
  box-sizing: border-box;
  margin: 0;
  width: 1280px; }

/*# sourceMappingURL=style.css.map */
